// Cores

$rosa-claro: #FFE4D9;
$laranja: #BC8312;
$laranja-claro: #DDC699;
$rosa:#FFADA6;

// Fontes

$fonte-1: 'PT Mono', monospace;
$fonte-2: 'Aref Ruqaa', serif;

// Mixins

@function em($pixel, $contexto : 16){
    @return $pixel / $contexto + em;
}

@mixin tipografia-1($size) {
    font-family: $fonte-1;
    @if $size == 20{
        font-size: em(20);
        line-height: em(30,20);
    }
}

@mixin tipografia-2($size){
    font-family: $fonte-2;
    @if $size == 20{
        font-size: em(20);
        line-height: em(30,20);
    }
    @else if $size == 26{
        font-size: em(26);
        line-height: em(30,26);
    }
}